<!DOCTYPE html>
<html lang="en">
<head>
    {% include '_head.html' %}
    {% set page_title %}{% block title %}{{ app_name }}{% endblock %}{% endset %}
    {% set page_description %}{% block description %}Team registration and photo sharing for {{ config.EVENT_NAME }}{% endblock %}{% endset %}
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:description" content="{{ page_description }}">
    {% block head_extra %}{% endblock %}
</head>
<body>
    <div class="{% block container_class %}container my-4{% endblock %}">
        {% block navbar %}
            {% include '_navbar.html' %}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include '_footer.html' %}
        {% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>